*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
marquee{
    background-color: #0f1111;
    color: #febd68;
    margin-bottom: -0.3125rem;

}

#sp11{
    animation: div2 infinite 0.2s ease-in;
    background-color: blanchedalmond;
}
#div1{
    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-block;
    border-radius: 50%;
    animation: div1 infinite 0.2s ease-in;
}
@keyframes div1 {
    0%{background-color: red;}
    50%{background-color: blue;}
    100%{background-color: green;}
}
@keyframes div2 {
    0%{color: red;}
    50%{color: blue;}
    100%{color: green;}
}

.border:hover{
    border:1px solid white;
}
.bar:hover{
    border: 2px solid #febd68; 
}
/* css for header */
.navbar{
    font-style: arial;
    height: 3.8rem;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
 
                /* for box 1 */

.nav-logo{
    background-image: url("1.png");
    height: 3.8rem,;
    background-size: cover;
    width: 6.4rem;
    margin-right: 0.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

                                        /* box 2 */
.nav-add{
padding-top: 0.85rem; 
    
}
#sp1{
    font: 0.9rem arial;
    color:#ffffff;
}
#sp2{
    font: 0.875rem arial;
    color: #ffffff;
    font-weight: 700;
}
                                            /* box 3 */
.nav-search{
    display: flex;
    justify-content: center;
     align-items: center;
     width: 800px;
     height: 3.75rem;
     background-color: #0f1111;
}

#se1:hover{
    background-color: #f3f3f3bb;
}


#se1{
    color: #0f1111;
    background-color: #f3f3f3;
    width: 3.4375rem;
    height: 2.5rem;
    padding-left: 0.3125rem;
    border: 1px solid;
    border-top-left-radius: 0.3125rem ;
    border-bottom-left-radius: 0.3125rem ;
    align-self: center;
}

#inp1{
    width: 100%;
    height: 2.5rem;
    font-size: 0.875rem;
    color: #cccccc;
    font-weight: 700;
    font-family: Arial;
}

.nav-searchicon{
    width: 2.8125rem;
    height: 2.5rem;
    background-color: #febd68;
    color: #0f1111;
    display: flex;
    justify-content: center;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    align-items: center;
    align-self: center;
}
.nav-searchicon:hover{
    background-color: #febd68e2;
}

                                                        /* box 4 */
.nav-account{
    margin-top: 0.85rem;
    padding-top: 0.1875rem;

}
#sp3{
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 600;
}

.nav-account select{
    background-color: #0f1111;
    color: #f3f3f3;
    font: 1rem arial 700; 
    border: none;
    font-weight: 700;
    margin-left: -3px;
}

                                                    /* box 5 */
.nav-order{
    margin-top: 0.85rem;
}


#sp4{
    color: #ffffff;
    font: 600 0.9rem arial;
    margin-top: 1rem;
}

#sp5{
    color: #ffffff;
    font: 600 14px arial;
    margin-top: 1.125rem;
}
                                                                
                                /* box 6*/

.nav-cart{
    margin-top: 0.85rem;
}  

#sp7{
    font: 17px arial 800 ;
}
.nav-cart i{
    font-size: 1.875rem;
}              



                                            /* toolbar */

.toolbar{
    width: 100%;
    height: 2.5rem;
    color: #0f1111;
    background-color: #232f3e;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}                                            

.toolmenu{
    color: #ffffff;
    font: 1.2rem arial;
    margin-right: 0.5rem;
  
}

.toolbar a{
    color: #ffffff;
    font: 1rem arial;
    text-decoration: none;
    margin: 0.5rem;
}


                                                /* main css */
.hero-image{
    background-image: url("\(1\).jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
}



.color-changer{ 
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 192, 255);
}

.color-changer div{
    background-color: #ffffff;
}
.container-shop{
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc;
}
.container-shop .image .inside-pic{
    margin-top: 0px;
}

.container-shop div{
    background-color: #ffffff;
    margin-top: 20px;
}

/* shoping section css */


/* css fo 4 images sector */

.image-4{
    width: 23%;
    height: 385px;    
    display: flex;
 
    flex-direction: column; 
}
.image-4 div{
    margin: 0px;
}

.image-4 a{
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: none;
    color: #2e2f3e;
    font-size: 18px;
}
.image-4 a:hover{
    text-decoration: underline;
    text-shadow: #232f3e;
    color: rgb(255, 0, 85);
}


.image-4 h2{
    font: 21px arial ;
    font-weight: 700;
    color: #0f1111;
    margin-top: 20px;
    margin-left: 20px;
}
.image4-2sector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
#img4-1{
    width: 9.75rem;
    height: 7.25rem;
}
#img4-2{
    width: 9.75rem;
    height: 7.25rem;
    background-size: cover;
}

/* for second 3rd images */

.image4-sector2{
    display: flex;
    background-size: cover;
    flex-direction: row;
    justify-content: space-between;
}
#img4-3{
    width: 9.75rem;
    height: 7.25rem;
    background-size: cover;
}
#img4-4{
    width: 9.75rem;
    height: 7.25rem;
    background-size: cover;

}
#sp8{
    color: #0f1111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}
.span-2{
    display: flex;
    
    justify-content: space-around;
    margin: 0px;
}
 /* css for  one image sector */

.image{
    width: 23%;
    height: 24.0624rem;
 }
 

 .image h2{
    font: 21px arial ;
    font-weight: 700;
    color: #0f1111;
    margin-top: 20px;
    margin-left: 20px;
 }
 .inside-pic{
    width: 16.875;
    height: 19.375rem;
    background-size: cover;
    margin-left: 1.25rem;
 }

 
.image a{
    margin-top: 1.875;
    margin-left: 1.875;
    text-decoration: none;
    color: #2e2f3e;
    font-size: 1.05rem;
}
.image a:hover{
    text-decoration: underline;
    text-shadow: #232f3e;
    color: rgb(255, 0, 85);
}
.sign-in{
    height: 8rem;
    display: flex;
    flex-direction: column;

}

.sign-in h2{
    font: 1.3125rem;
    font-style: arial;
}
.sign-in button{
    width: 16.875;
    height: 1.8125;
    background-color:yellow;
    color: #0f1111;
    border-radius: 0.85rem;
    border: none;
    align-self: center;
    margin-top: 1.4rem;
    text-align: center;
}

.sign-in button:hover{
    background-color: rgb(221, 221, 5);
}

.image-img{
    width: 18.75rem;
    height: 15.625rem;
    background-image: url("\(92\).jpg");
    background-color: rgb(249, 192, 255);
    text-align: center;
}

.container-shop2{
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc;
}

.container-shop2 div{
    background-color: #ffffff;
    margin-top: 1.25rem;
}

.back-to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    height: 3.125rem;
    width: 100%;
    background-color: #232f3e ;
}
.back-to-top a{
    font-size: 13px;
    color: #ffffff;
    font-style: arial;
    text-decoration: none;

}

.options{
    width: 100%;
    height: 21.875rem;
    display: flex;
    justify-content: space-around;
    background-color: #2e2f3e;
    align-items: center;
}

.option-1 h3{
    color: #ffffff;
    font-family: arial;
}

.option-1 a{
    text-decoration: none;
    color: #999999;
    font-size: 1.1875rem;
    margin-top: 0.85rem;
    font-style: arial;
}
.option-1 a:hover{
    text-decoration: underline;
}


.bottom-menu{
    width: 100%;
    height: 5.5rem;
    background-color: #2e2f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu span{
    border:1px solid #ffffff; 
    padding: 0.3125rem;
    margin: 3.125rem;
    border-radius: 3px ;
    color: #ffffff;
    font: 1.3125rem;


}


.img{
    width: 6.875rem;
    height: 4.25rem;
    background-size: cover;
    margin-left: 0.85rem;
}
